*
{
    /* border: 2px solid red; */
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family: 'Concert One', cursive;
    color: teal;
}

body
{
    background-color: teal;
    margin: 20px;
    margin-top: 100px;
    display: grid;
    height: 100%;
    text-align: center;
    place-items: center;

}

.menu
{
    margin: auto;
    margin-bottom: 20px;
    background: teal;
    display: flex;
    gap: 20px;
}

button
{
    font-size: 30px;
    font-weight: 500;
    padding: 10px 15px 10px 15px;
    border: 3px solid rgb(188, 108, 43);
    border-radius: 10px;
}

button:hover{
    transform: scale(1.2);
    background-color: rgb(255, 188, 132);
}

.clicked
{
    transform: scale(1.2);
    background-color: rgb(255, 188, 132);
}


.title
{
    font-family: 'Concert One', cursive;
    font-size: 50px;
    color: whitesmoke;
    padding-bottom: 50px;
}

.range
{
    margin: auto;
    height: 80px;
    width: 380px;
    background: whitesmoke;
    border-radius: 10px;
    padding: 0 65px 10px 45px;
    border: 3px solid rgb(188, 108, 43);;

}

.range .sliderKey
{
    top: -20px;
    font-size: 20px;
}

.range .sliderValue
{
    position: relative;
    width: 100%;
}

.range .sliderValue span{
    position: absolute;
    height: 45px;
    width: 45px;
    color: whitesmoke;
    font-weight: 400;
    top: -50px;
    transform: translateX(-50%);
    line-height: 55px;
    z-index: 2;
    text-align: center;
}

.range .sliderValue span:after{
    position: absolute;
    content: "";
    height: 45px;
    width: 45px;
    background: teal;
    left: 50%;
    transform: translateX(-50%) rotate(45deg);
    border: 3px solid #fff;
    z-index: -1;
    border-top-left-radius:50%;
    border-top-right-radius: 50%;
    border-bottom-left-radius: 50%
}

.range .field
{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80%;
    margin-bottom: -5px;
}

.range .field .value
{
    position: absolute;
    font-size: 25px;
    font-weight: 400;
    color: teal;
}

.range .field .value.left
{
    left: -22px;
}

.range .field .value.right
{
    right: -50px;
}

.range .field input{
    -webkit-appearance: none;
    height: 3px;
    width: 100%;
    background: #ddd;
    border-radius: 5px;
    outline: none;
    border: none;
}

.range .field input::-webkit-slider-thumb
{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: teal;
    border-radius: 50%;
    border: 1px solid rgb(0, 96, 96)
}


.container
{
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: stretch;
    height: 800px;
    width: 800px;
    max-width: 800px;
    position: relative;
    border: 4px solid rgb(188, 108, 43);;
    background: whitesmoke;
    overflow: hidden;
}

.box
{
    flex: 1;
    transition: .5s;
    border: 1px dotted rgb(209, 209, 209);
}

.row
{
    display: flex;
    flex: 1;
    flex-direction: column;
}

/* .box:hover
{
    background-color: black;
    transition: 0s;
} */

.black
{
    background-color: black;
}


